.main-wrapper {
    background-color: rgb(230, 233, 221);
    /* width : 25% ; 
    height : 100vh  ; */
    display : grid ; 
    grid-template-columns : 2fr 8fr;
    /* grid: 30px , 70 px ; */

}
.main-page {
    background-color: rgb(230, 233, 221);
    display : grid ; 
    /* grid-template-columns : 7fr 3fr; */
    grid-template-areas: 
    "upper upper upper"
    "projects projects side-stuff"
    "projects projects side-stuff";
    ;
     margin-left: 10px;
    height : 100vh;
    
}
.projects {
    background-color: rgb(230, 233, 221);
    display : grid ; 
    grid-template-areas: 
    "row1 row2"
    "row3 row4"
    "row5 row6"
    ;
    grid-area: projects; 
}
.side-bar{
    background-color: black;
    border-radius : 15px ;   
}
.side-stuff{
    background-color: rgb(230, 233, 221);
    border-radius : 15px ; 
    grid-area: side-stuff;
    display : grid ;
    grid-template-areas:
     "element1 "
    "element2";
}
.top{
    background-color: rgb(230, 233, 221);
    border: solid black;
    grid-area : top ; 
    margin-bottom: 20px ;
}
.row1{
    grid-area: row1 ;
    background-color: brown;
    border-radius : 15px ; 
    margin-left: 10px;
    margin-bottom: 10px;
}
.row4{
    grid-area: row4 ;
    background-color: brown;
    border-radius : 15px ; 
    margin-left: 10px;
    margin-bottom: 10px;
}
.row3{
    grid-area: row3 ;
    background-color: rgb(241, 173, 173);
    border-radius : 15px ; 
     margin-left: 10px;
     margin-bottom: 10px;
}
.row2{
    grid-area: row2 ;
    background-color: rgb(241, 173, 173);
    border-radius : 15px ; 
     margin-left: 10px;
     margin-bottom: 10px;
}
.row5{
    grid-area: row5 ; 
    background-color: brown;
    border-radius : 15px ; 
     margin-left: 10px;
     margin-bottom: 10px;  
}
.row6{
    grid-area: row6 ; 
    background-color: rgb(241, 173, 173);
    border-radius : 15px ; 
     margin-left: 10px;
     margin-bottom: 10px; 
}
.element1{
    grid-area: element1 ;
    background-color: rgb(171, 42, 42);
     border-radius : 15px ; 
     margin-left: 10px;
     margin-bottom: 10px;
      margin-top: 10px;
     margin-right : 10px;
}
.element2{
    grid-area: element2 ;
    background-color: rgb(159, 26, 26);
     border-radius : 15px ; 
     margin-left: 10px;
     margin-bottom: 10px;
     margin-top: 10px;
     margin-right : 10px;
}
.upper{
    display : grid ; 
    grid-area: upper ;
    background-color: rgb(230, 233, 221);
    grid-template-areas:
    "search-bar search-bar search-bar search-bar search-bar search-bar search-bar search-bar search-bar search-bar"
    "avatar message message message message message message message message message";
    /* place-items: center; */
    border : solid black ;
}
.search-bar{
    background-color: rgb(230, 233, 221);
    border-radius : 15px ; 
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right : 10px;
    grid-area: search-bar ;
    display : grid ; 
    place-items: center;
    /* border : solid black ; */
    position: relative ;
    border : solid black ; 
}
.avatar{
    background-color: rgb(230, 233, 221);
    border-radius : 15px ; 
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right : 10px;
    grid-area: avatar ;
    height : 70px ; 
    /* border : solid black ; */
    position : relative ;   
}
.ava-img{
    position : absolute ; 
    top : 50% ; 
    left : 50% ; 
    transform : translate(-50% , -50%) ;
}
.message{
    background-color: rgb(230, 233, 221);
    border-radius : 15px ; 
    margin-left: 10px;
    margin-bottom: 10px;
    grid-area: message ;
    margin-top: 10px;
    margin-right : 10px;
    height : 70px ; 
    /* border : solid black ; */
}
/* .search-input{
    width : auto; 
    height : auto ; 
    border-radius : 15px ; 
    border : solid black ; 
    background-color: rgb(230, 233, 221);
    align-items: center;
} */
.search {
    position : absolute ;
    top : 5%;
    transform : translateX(-50%) ;
    width : 500px  ;
    display : grid ;
    place-items: center;
    background-color: rgb(0, 0, 0); 
}
.search input {
    width : 100% ; 
    height : 40px ; 
    border-radius : 15px ; 
    border : solid black ; 
    background-color: rgb(230, 233, 221);
    align-items: center;
}
.avatar image{
    height : 15px ; 
    width : 15px ; 
    border-radius : 50% ;
    border : solid black ;
}
.message {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}